# Ignore everything by default
/*
!/

!/nix-bindings-sys
!/tests
!/src

# Configuration files
!/.config/
!/.rustfmt.toml
!/.clippy.toml
!/.taplo.toml
!/.gitattributes
!/.gitignore
!/.github
!/.editorconfig
