# Ignore everything by default
/*
!/

!/lix-bindings/
!/nix-bindings/
!/nix-bindings-sys/
!/src
!/tests


# Configuration files
!/.config/
!/.rustfmt.toml
!/.clippy.toml
!/.taplo.toml
!/.gitattributes
!/.gitignore
!/.github
!/.editorconfig
